<template>
  <v-row justify="center">
    <v-dialog
      v-model="dialog"
      persistent
      max-width="600px"
    >
      <v-card>
        <v-card-title>
          <span class="text-h5">{{ title }}</span>
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-form
              ref="form"
              v-model="valid"
              @submit.prevent="submit"
            >
              <v-row>
                <v-col
                  cols="12"
                  sm="6"
                  md="4"
                  class="mt-n8"
                >
                  <v-text-field
                    v-model="form.name"
                    label="Nombre"
                    :rules="nameRules"
                  />
                </v-col>
                <v-col
                  cols="12"
                  sm="6"
                  md="4"
                  class="mt-n8"
                >
                  <v-text-field
                    v-model="form.price"
                    label="Precio"
                    :rules="priceRules"
                  />
                </v-col>
                <v-col
                  cols="12"
                  sm="6"
                  md="4"
                  class="mt-n8"
                >
                  <v-select
                    v-model="form.product_type_id"
                    :items="product_types"
                    item-text="name"
                    item-value="id"
                    label="Tipo de producto"
                    single-line
                    :rules="productTypeRules"
                  />
                </v-col>
              </v-row>
              <v-row>
                <v-col
                  cols="12"
                  class="mt-n1 text-right"
                >
                  <v-btn
                    color="danger"
                    @click="close"
                  >
                    Cerrar
                  </v-btn>
                  <v-btn
                    color="warning"
                    class="ml-2"
                    @click="reset"
                  >
                    Limpiar
                  </v-btn>
                  <v-btn
                    color="primary"
                    :disabled="!valid"
                    :loading="loading"
                    type="submit"
                  >
                    {{ action === 'create' ? 'Registrar' : 'Editar' }}
                  </v-btn>
                </v-col>
              </v-row>
            </v-form>
          </v-container>
        </v-card-text>
      </v-card>
    </v-dialog>
  </v-row>
</template>
<script>
  export default {
    name: 'FormUser',
    props: {
      dialog: {
        type: Boolean,
        default: false,
      },
      action: {
        type: String,
        default: '',
      },
      item: {
        type: Object,
        default: Object,
      },
    },
    data: () => ({
      title: '',
      valid: false,
      loading: false,
      product_types: [],
      form: {
        name: '',
        price: '',
        product_type_id: '',
      },
      nameRules: [
        v => !!v || 'Ingrese nombre',
      ],
      priceRules: [
        v => !!v || 'Ingrese precio',
      ],
      productTypeRules: [
        v => !!v || 'Seleccione tipo de producto',
      ],
    }),
    mounted () {
      this.getReferences()
    },
    created () {
      if (this.action === 'create') {
        this.initForm()
      }
    },
    methods: {
      assignTitle () {
        this.title = this.action === 'edit' ? 'Editar producto' : 'Registrar producto'
      },
      close () {
        this.$emit('close')
      },
      initForm () {
        this.form = {
          document: '',
          name: '',
          email: '',
          phone: '',
          product_type_id: '',
        }
      },
      reset () {
        this.initForm()
        if (this.$refs.form) {
          this.$refs.form.resetValidation()
        }
      },
      submit () {
        if (this.action === 'create') {
          this.create()
        } else {
          this.update()
        }
      },
      create () {
        this.loading = true
        this.$axios.post('product/', this.form).then(response => {
          this.$toast.success('Producto registrado exitosamente')
          this.$emit('reload')
          this.close()
        }).catch(() => {
          this.$toast.error('Error registrando producto')
        }).finally(response => {
          this.loading = false
        })
      },
      update () {
        this.loading = true
        this.$axios.put(`product/${this.item.id}`, this.form).then(response => {
          this.$toast.success('Producto editado exitosamente')
          this.$emit('reload')
          this.close()
        }).catch(() => {
          this.$toast.error('Error editando producto')
        }).finally(response => {
          this.loading = false
        })
      },
      getReferences () {
        this.$axios.post('product/get-references').then(response => {
          this.product_types = response.data.data.product_types
        }).catch(() => {
          this.$toast.error('Error consultando referencias')
        }).finally(response => {
        })
      },
      assignItem () {
        this.form = JSON.parse(JSON.stringify(this.item))
      },
    },
    watch: {
      dialog: {
        handler (newVal, oldVal) {
          this.assignTitle()
          this.assignItem()
          if (newVal === true && oldVal === false && this.action === 'create') {
            this.initForm()
            this.reset()
          }
        },
      },
    },
  }
</script>
