<template>
  <v-row justify="center">
    <v-dialog
      v-model="dialog"
      persistent
      max-width="80%"
    >
      <v-card>
        <v-card-title>
          <span class="text-h5">{{ title }}</span>
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-form
              ref="form"
              v-model="valid"
              @submit.prevent="submit"
            >
              <v-row>
                <v-col
                  cols="12"
                  sm="4"
                  md="3"
                  class="mt-n8"
                >
                  <v-autocomplete
                    v-if="user.user_type_id == 1"
                    v-debounce="getUsers"
                    :items="items"
                    :loading="isLoading"
                    :search-input.sync="search_user"
                    debounce-events="input"
                    hide-no-data
                    hide-selected
                    item-text="name"
                    item-value="id"
                    label="Cliente"
                    placeholder="Buscar cliente"
                    prepend-icon="mdi-database-search"
                    return-object
                    @change="(event) => updateUser(event)"
                  />

                  <v-text-field
                    v-if="user.user_type_id == 2"
                    v-model="form.name"
                    label="Cliente"
                  />
                </v-col>
                <v-col
                  cols="12"
                  sm="4"
                  md="3"
                  class="mt-n8"
                >
                  <v-text-field
                    v-model="form.document"
                    label="Documento"
                  />
                </v-col>
                <v-col
                  cols="12"
                  sm="4"
                  md="3"
                  class="mt-n8"
                >
                  <v-text-field
                    v-model="form.email"
                    label="Correo electrónico"
                  />
                </v-col>
                <v-col
                  cols="12"
                  sm="4"
                  md="3"
                  class="mt-n8"
                >
                  <v-text-field
                    v-model="form.phone"
                    label="Número telefónico"
                  />
                </v-col>
              </v-row>

              <v-divider />
              <v-row class="mt-n1">
                <v-col
                  cols="12"
                >
                  <v-alert
                    text
                    color="primary"
                  >
                    En esta sección debe seleccionar el producto y la cantidad a incluir en la factura. Luego presionar el botón añadir y aparecerá automáticamente en el listado de la parte inferior de este formulario.
                  </v-alert>
                </v-col>
              </v-row>
              <v-row class="mt-n10">
                <v-col
                  cols="12"
                  sm="4"
                  md="3"
                >
                  <v-autocomplete
                    v-debounce="getProducts"
                    :items="items_products"
                    debounce-events="input"
                    :loading="isLoading"
                    :search-input.sync="search_product"
                    hide-no-data
                    hide-selected
                    item-text="name"
                    item-value="id"
                    label="Producto"
                    placeholder="Buscar producto"
                    prepend-icon="mdi-database-search"
                    return-object
                    @change="(event) => updateProduct(event)"
                  />
                </v-col>
                <v-col
                  cols="12"
                  sm="4"
                  md="3"
                >
                  <v-text-field
                    v-model="form_detail.quantity"
                    label="Cantidad"
                    type="number"
                  />
                </v-col>

                <v-col
                  cols="12"
                  sm="4"
                  md="3"
                >
                  <v-btn
                    block
                    class="mt-2"
                    color="success"
                    @click="addDetail"
                  >
                    Añadir
                  </v-btn>
                </v-col>
                <v-col
                  cols="12"
                  sm="4"
                  md="3"
                >
                  <v-btn
                    block
                    class="mt-2"
                    color="warning"
                    @click="resetDetail"
                  >
                    Limpiar
                  </v-btn>
                </v-col>
              </v-row>
              <v-row>
                <v-col
                  cols="12"
                  class="mt-n2"
                >
                  <v-data-table
                    :headers="headers"
                    :items="details"
                    :options.sync="details_options"
                    :disable-pagination="false"
                    :hide-default-footer="true"
                    class="elevation-0"
                  >
                    <template
                      v-slot:item.price="{ item }"
                    >
                      {{ item.price | toCurrency }}
                    </template>

                    <template
                      v-slot:item.amount="{ item }"
                    >
                      {{ item.amount | toCurrency }}
                    </template>

                    <template
                      v-slot:item.actions="{ item, index }"
                    >
                      <v-tooltip top>
                        <template v-slot:activator="{ on, attrs }">
                          <v-btn
                            color="red"
                            fab
                            x-small
                            dark
                            class="ml-1"
                            v-bind="attrs"
                            v-on="on"
                            @click="removeDetail(index)"
                          >
                            <v-icon>mdi-delete</v-icon>
                          </v-btn>
                        </template>
                        <span>Eliminar</span>
                      </v-tooltip>
                    </template>
                  </v-data-table>
                </v-col>
              </v-row>
              <v-divider />
              <h4
                class="text-right"
              >
                Total a pagar: {{ total | toCurrency }}
              </h4>
              <v-row class="mt-2">
                <v-col
                  cols="12"
                  class="mt-n1 text-right"
                >
                  <v-btn
                    color="danger"
                    @click="close"
                  >
                    Cerrar
                  </v-btn>
                  <v-btn
                    color="warning"
                    class="ml-2"
                    @click="reset"
                  >
                    Limpiar
                  </v-btn>
                  <v-btn
                    color="primary"
                    :disabled="!valid"
                    :loading="loading"
                    @click="create"
                  >
                    {{ action === 'create' ? 'Registrar' : 'Editar' }}
                  </v-btn>
                </v-col>
              </v-row>
            </v-form>
          </v-container>
        </v-card-text>
      </v-card>
    </v-dialog>
  </v-row>
</template>
<script>
  export default {
    name: 'FormUser',
    props: {
      dialog: {
        type: Boolean,
        default: false,
      },
      action: {
        type: String,
        default: '',
      },
      item: {
        type: Object,
        default: Object,
      },
      user: {
        type: Object,
        default: Object,
      },
    },
    data: () => ({
      title: '',
      valid: false,
      loading: false,
      product_types: [],
      form: {},
      form_detail: {
        quantity: '',
        amount: '',
      },
      total: 0,
      isLoading: false,
      items: [],
      items_products: [],
      search_user: '',
      search_product: '',
      details: [],
      details_options: {},
      headers: [
        { text: 'Producto', align: 'start', value: 'product_name', sortable: false },
        { text: 'Tipo', value: 'product_type', sortable: false },
        { text: 'Cantidad', value: 'quantity', align: 'center', sortable: false },
        { text: 'Precio', value: 'price', align: 'end', sortable: false },
        { text: 'Importe', value: 'amount', align: 'end', sortable: false },
        { text: 'Acciones', value: 'actions', sortable: false },
      ],
    }),
    mounted () {
      this.getReferences()
    },
    methods: {
      assignTitle () {
        this.title = this.action === 'edit' ? 'Editar factura' : 'Generar factura'
      },
      close () {
        this.$emit('close')
      },
      initForm () {
        this.search_user = ''
        this.form = {
          document: '',
          name: '',
          email: '',
          phone: '',
          user_type_id: '',
          user_id: '',
        }
        this.details = []
      },
      reset () {
        this.initForm()
        if (this.$refs.form) {
          this.$refs.form.resetValidation()
        }
      },
      submit () {
        if (this.action === 'create') {
          this.create()
        } else {
          this.update()
        }
      },
      create () {
        if (this.form.user_id === '') {
          this.$toast.error('Seleccione el cliente asociado a la factura')
          return false
        }

        if (this.details.length === 0) {
          this.$toast.error('Seleccione al menos 1 producto')
          return false
        }

        this.loading = true
        const data = {
          invoice: this.form,
          invoice_details: this.details,
        }
        this.$axios.post('invoice/', data).then(response => {
          this.$toast.success('Factura registrada exitosamente')
          this.$emit('reload')
          this.close()
        }).catch(() => {
          this.$toast.error('Error registrando factura')
        }).finally(response => {
          this.loading = false
        })
      },
      update () {
        this.loading = true
        this.$axios.put(`product/${this.item.id}`, this.form).then(response => {
          this.$toast.success('Producto editado exitosamente')
          this.$emit('reload')
          this.close()
        }).catch(() => {
          this.$toast.error('Error editando producto')
        }).finally(response => {
          this.loading = false
        })
      },
      getReferences () {
        this.$axios.post('product/get-references').then(response => {
          this.product_types = response.data.data.product_types
        }).catch(() => {
          this.$toast.error('Error consultando referencias')
        }).finally(response => {
        })
      },
      assignItem () {
        // this.form = JSON.parse(JSON.stringify(this.item))
      },
      assignUser () {
        this.form.user_id = this.user.id
        this.form.name = this.user.name
        this.form.document = this.user.document
        this.form.email = this.user.email
        this.form.phone = this.user.phone
        this.form.user_type_id = this.user.user_type_id
      },
      getUsers () {
        this.$axios.post('invoice/get-users', { search: this.search_user }).then(response => {
          this.items = response.data.data
        })
      },
      updateUser (value) {
        this.form.user_id = value.id
        this.form.name = value.name
        this.form.document = value.document
        this.form.email = value.email
        this.form.phone = value.phone
      },
      getProducts () {
        this.$axios.post('invoice/get-products', { search: this.search_product }).then(response => {
          this.items_products = response.data.data
        })
      },
      updateProduct (value) {
        if (value.id) {
          this.form_detail.product_id = value.id
          this.form_detail.product_name = value.name
          this.form_detail.price = value.price
          this.form_detail.product_type = value.product_type.name
        }
      },
      addDetail () {
        if (!this.form_detail.product_id || this.form_detail.product_id === '') {
          this.$toast.error('Seleccione producto o servicio')
          return false
        }

        if (!this.form_detail.quantity || this.form_detail.quantity === '') {
          this.$toast.error('Ingrese la cantidad')
          return false
        }

        const found = this.details.find(item => item.product_id === this.form_detail.product_id)

        if (found !== undefined) {
          this.$toast.error('El producto ya existe en la factura')
          this.resetDetail()
          return false
        }

        this.form_detail.amount = this.form_detail.price * this.form_detail.quantity

        this.details.push(JSON.parse(JSON.stringify(this.form_detail)))
        this.resetDetail()
        if (this.details.length > 0) {
          this.total = this.details.reduce((n, { amount }) => n + amount, 0)
        }
      },
      removeDetail (index) {
        this.details.splice(index, 1)
        if (this.details.length > 0) {
          this.total = this.details.reduce((n, { amount }) => n + amount, 0)
        }
      },
      resetDetail () {
        this.form_detail.product_id = ''
        this.form_detail.quantity = ''
        this.search_product = ''
        this.items_products = []
      },
    },
    watch: {
      dialog: {
        handler (newVal, oldVal) {
          this.assignTitle()
          this.assignItem()
          this.assignUser()
          if (newVal === true && oldVal === false && this.action === 'create') {
            // this.initForm()
            // this.reset()
          }
        },
      },
    },
  }
</script>
