<template>
  <v-container
    id="alerts"
    fluid
    tag="section"
  >
    <base-material-card
      icon="mdi-cash-register"
      title="Listado de facturas"
      class="px-5 py-3"
    >
      <v-row>
        <v-col cols="10">
          <v-text-field
            v-model="search"
            v-debounce="getRecords"
            append-icon="mdi-magnify"
            label="Buscar..."
            debounce-events="input"
          />
        </v-col>
        <v-col cols="2">
          <v-btn
            block
            color="primary"
            @click="openCreate"
          >
            Registrar
          </v-btn>
        </v-col>
      </v-row>
      <v-data-table
        :headers="headers"
        :items="records"
        :options.sync="options"
        :server-items-length="totalRecords"
        class="elevation-0"
      >
        <template
          v-slot:item.name="{ item }"
        >
          {{ item.user.name }}
        </template>
        <template
          v-slot:item.date="{ item }"
        >
          {{ item.date | dateUser }}
        </template>
        <template
          v-slot:item.total="{ item }"
        >
          {{ item.total | toCurrency }}
        </template>
        <template
          v-slot:item.status_text="{ item }"
        >
          <v-chip
            :color="item.status_id == 1 ? 'warning' : item.status_id == 2 ? 'info' : item.status_id == 3 ? 'success' : 'red'"
            text-color="white"
            @click:close="chip2 = false"
          >
            {{ item.status.name }}
          </v-chip>
        </template>

        <template
          v-slot:item.actions="{ item }"
        >
          <v-tooltip top>
            <template v-slot:activator="{ on, attrs }">
              <v-btn
                color="blue darken-2"
                fab
                x-small
                dark
                v-bind="attrs"
                v-on="on"
                @click="openView(item)"
              >
                <v-icon>mdi-eye</v-icon>
              </v-btn>
            </template>
            <span>Ver</span>
          </v-tooltip>
          <v-tooltip top>
            <template v-slot:activator="{ on, attrs }">
              <v-btn
                v-if="item.status_id == 1"
                color="success"
                fab
                x-small
                dark
                class="ml-1"
                v-bind="attrs"
                v-on="on"
                @click="openPay(item)"
              >
                <v-icon>mdi-cash-multiple</v-icon>
              </v-btn>
            </template>
            <span>Reportar pago</span>
          </v-tooltip>
          <v-tooltip top>
            <template v-slot:activator="{ on, attrs }">
              <v-btn
                v-if="item.status_id == 2"
                color="success"
                fab
                x-small
                dark
                class="ml-1"
                v-bind="attrs"
                v-on="on"
                @click="openPayConfirm(item)"
              >
                <v-icon>mdi-check</v-icon>
              </v-btn>
            </template>
            <span>Aprobar pago</span>
          </v-tooltip>
          <v-tooltip top>
            <template v-slot:activator="{ on, attrs }">
              <v-btn
                v-if="item.status_id != 3 && item.status_id != 9"
                color="red"
                fab
                x-small
                dark
                class="ml-1"
                v-bind="attrs"
                v-on="on"
                @click="cancel(item)"
              >
                <v-icon>mdi-close-thick</v-icon>
              </v-btn>
            </template>
            <span>Anular</span>
          </v-tooltip>
        </template>
      </v-data-table>
    </base-material-card>
    <form-invoice
      :dialog="dialog"
      :action="action"
      :item="item"
      :user="user"
      @close="closeForm"
      @reload="getRecords"
    />
    <view-invoice
      :dialog="dialogView"
      :item="item"
      @close="closeView"
    />
    <pay-invoice
      :dialog="dialogPay"
      :item="item"
      @close="closePay"
      @reload="getRecords"
    />
    <pay-confirm-invoice
      :dialog="dialogPayConfirm"
      :item="item"
      @close="closePayConfirm"
      @reload="getRecords"
    />
  </v-container>
</template>
<script>
  export default {
    name: 'Products',
    components: {
      FormInvoice: () => import('./Form'),
      ViewInvoice: () => import('./View'),
      PayInvoice: () => import('./Pay'),
      PayConfirmInvoice: () => import('./PayConfirm'),
    },
    data: () => ({
      user: JSON.parse(localStorage.getItem('user')),
      headers: [
        { text: 'Cliente', align: 'start', value: 'name' },
        { text: 'Fecha', value: 'date', sortable: false },
        { text: 'Total', value: 'total', align: 'end', sortable: false },
        { text: 'Estatus', value: 'status_text', sortable: false },
        { text: 'Acciones', value: 'actions', sortable: false },
      ],
      search: '',
      records: [],
      options: null,
      totalRecords: null,
      dialog: false,
      dialogView: false,
      action: null,
      item: {},
      dialogPay: false,
      dialogPayConfirm: false,
    }),
    mounted () {
      this.getRecords()
    },
    methods: {
      getRecords () {
        var params = {
          params: {
            ...this.options,
            search: this.search,
          },
        }
        if (this.user.user_type_id === 2) {
          params.params.user_id = this.user.id
        }
        this.$axios.get('invoice', params).then(response => {
          this.records = response.data.data.data
          this.totalRecords = response.data.data.total
        })
      },
      openCreate () {
        this.item = {}
        this.action = 'create'
        this.dialog = true
      },
      openView (item) {
        this.item = item
        this.dialogView = true
      },
      openPay (item) {
        this.item = item
        this.dialogPay = true
      },
      openPayConfirm (item) {
        this.item = item
        this.dialogPayConfirm = true
      },
      closeForm () {
        this.dialog = false
      },
      closeView () {
        this.dialogView = false
      },
      closePay () {
        this.dialogPay = false
      },
      closePayConfirm () {
        this.dialogPayConfirm = false
      },
      cancel (item) {
        this.$confirm('¿Desea anular esta factura?').then(res => {
          if (res) {
            const route = 'invoice/cancel'
            this.$axios.post(`${route}/${item.id}`).then(response => {
              const message = response.data.message || 'Éxito'
              this.$toast.success(message)
              this.getRecords()
            }).catch(error => {
              const message = error.response.data.message || 'Error activando o desactivando factura'
              this.$toast.error(message)
            }).finally(response => {
            })
          }
        })
      },
    },
    watch: {
      options: {
        handler (newVal, oldVal) {
          if (oldVal !== null) {
            this.getRecords()
          }
        },
        deep: true,
      },
    },
  }
</script>
