<template>
  <v-row justify="center">
    <v-dialog
      v-model="dialog"
      persistent
      max-width="80%"
    >
      <v-card>
        <v-card-title>
          <span class="text-h5">Confirmar pago de factura</span>
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-form
              ref="form"
              @submit.prevent="submit"
            >
              <v-row>
                <v-col
                  cols="12"
                  sm="4"
                  md="3"
                  class="mt-n8"
                >
                  <v-text-field
                    label="Nombre"
                    :value="item.user ? item.user.name : ''"
                    disabled
                  />
                </v-col>
                <v-col
                  cols="12"
                  sm="4"
                  md="3"
                  class="mt-n8"
                >
                  <v-text-field
                    label="Document"
                    :value="item.user ? item.user.document : ''"
                    disabled
                  />
                </v-col>
                <v-col
                  cols="12"
                  sm="4"
                  md="3"
                  class="mt-n8"
                >
                  <v-text-field
                    label="Correo electrónico"
                    :value="item.user ? item.user.email : ''"
                    disabled
                  />
                </v-col>
                <v-col
                  cols="12"
                  sm="4"
                  md="3"
                  class="mt-n8"
                >
                  <v-text-field
                    label="Número telefónico"
                    :value="item.user ? item.user.phone : ''"
                    disabled
                  />
                </v-col>
                <v-col
                  cols="12"
                  sm="4"
                  md="3"
                  class="mt-n8"
                >
                  <v-text-field
                    label="Estatus"
                    :value="item.user ? item.status.name : ''"
                    disabled
                  />
                </v-col>
                <v-col
                  cols="12"
                  sm="4"
                  md="3"
                  class="mt-n8"
                >
                  <v-text-field
                    label="Banco"
                    :value="item.bank ? item.bank.name : ''"
                    disabled
                  />
                </v-col>
                <v-col
                  cols="12"
                  sm="4"
                  md="3"
                  class="mt-n8"
                >
                  <v-text-field
                    label="Referencia"
                    :value="item.reference ? item.reference : ''"
                    disabled
                  />
                </v-col>
                <v-col
                  cols="12"
                  sm="4"
                  md="3"
                >
                  <v-btn
                    block
                    class="mt-n6"
                    color="success"
                    @click="addPayConfirm"
                  >
                    Confirmar pago
                  </v-btn>
                </v-col>
              </v-row>
            </v-form>
            <v-row>
              <v-col
                cols="12"
                class="mt-n4"
              >
                <h5
                  class="text-center"
                >
                  Detalles de factura
                </h5>
              </v-col>
            </v-row>
            <v-row>
              <v-col
                cols="12"
              >
                <v-data-table
                  :headers="headers"
                  :items="item.details"
                  :disable-pagination="false"
                  :hide-default-footer="true"
                  class="elevation-0"
                >
                  <template
                    v-slot:item.product_name="{ item }"
                  >
                    {{ item.product.name }}
                  </template>
                  <template
                    v-slot:item.product_type="{ item }"
                  >
                    {{ item.product.product_type.name }}
                  </template>
                  <template
                    v-slot:item.price="{ item }"
                  >
                    {{ item.price | toCurrency }}
                  </template>

                  <template
                    v-slot:item.amount="{ item }"
                  >
                    {{ (item.price * item.quantity) | toCurrency }}
                  </template>
                </v-data-table>
                <h4
                  class="text-right"
                >
                  Total a pagar: {{ total | toCurrency }}
                </h4>
              </v-col>
            </v-row>
            <v-row>
              <v-col
                cols="12"
                class="mt-n1 text-right"
              >
                <v-btn
                  color="danger"
                  @click="close"
                >
                  Cerrar
                </v-btn>
              </v-col>
            </v-row>
          </v-container>
        </v-card-text>
      </v-card>
    </v-dialog>
  </v-row>
</template>
<script>
  export default {
    name: 'FormUser',
    props: {
      dialog: {
        type: Boolean,
        default: false,
      },
      item: {
        type: Object,
        default: Object,
      },
    },
    data: () => ({
      valid: false,
      bankRules: [
        v => !!v || 'Seleccione el banco',
      ],
      referenceRules: [
        v => !!v || 'Ingrese la referencia',
      ],
      headers: [
        { text: 'Producto', align: 'start', value: 'product_name', sortable: false },
        { text: 'Tipo', value: 'product_type', sortable: false },
        { text: 'Cantidad', value: 'quantity', align: 'center', sortable: false },
        { text: 'Precio', value: 'price', align: 'end', sortable: false },
        { text: 'Importe', value: 'amount', align: 'end', sortable: false },
      ],
      form: {
        bank_id: '',
        reference: '',
      },
      total: 0,
      banks: [],
    }),
    mounted () {
      this.getReferences()
    },
    methods: {
      close () {
        this.$emit('close')
      },
      getReferences () {
        this.$axios.post('invoice/get-references').then(response => {
          this.banks = response.data.data.banks
        }).catch(() => {
          // this.$toast.error('Error consultando referencias')
        }).finally(response => {
        })
      },
      addPayConfirm () {
        this.loading = true
        this.$axios.post(`invoice/payment-confirm/${this.item.id}`, this.form).then(response => {
          this.$toast.success('Pago confirmado exitosamente')
          this.$emit('reload')
          this.close()
        }).catch(() => {
          this.$toast.error('Error confirmando pago')
        }).finally(response => {
          this.loading = false
        })
      },
    },
    updated () {
      if (this.item && this.item.details) {
        this.total = this.item.details.reduce((n, { price, quantity }) => n + (price * quantity), 0)
      }
    },
    watch: {
      dialog: {
        handler (newVal, oldVal) {
          if (newVal === true && oldVal === false) {
            this.total = 100
          }
        },
      },
    },
  }
</script>
