<template>
  <v-row justify="center">
    <v-dialog
      v-model="dialog"
      persistent
      max-width="600px"
    >
      <v-card>
        <v-card-title>
          <span class="text-h5">{{ title }}</span>
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-form
              ref="form"
              v-model="valid"
              @submit.prevent="submit"
            >
              <v-row>
                <v-col
                  cols="12"
                  sm="6"
                  md="4"
                  class="mt-n8"
                >
                  <v-text-field
                    v-model="form.document"
                    label="Documento"
                    :rules="documentRules"
                  />
                </v-col>
                <v-col
                  cols="12"
                  sm="6"
                  md="4"
                  class="mt-n8"
                >
                  <v-text-field
                    v-model="form.name"
                    label="Nombre y Apellido"
                    :rules="nameRules"
                  />
                </v-col>
                <v-col
                  cols="12"
                  sm="6"
                  md="4"
                  class="mt-n8"
                >
                  <v-text-field
                    v-model="form.email"
                    label="Correo Electrónico"
                    :rules="emailRules"
                  />
                </v-col>
                <v-col
                  cols="12"
                  sm="6"
                  md="4"
                  class="mt-n8"
                >
                  <v-text-field
                    v-model="form.phone"
                    label="Número Telefónico"
                    :rules="phoneRules"
                  />
                </v-col>
                <v-col
                  cols="12"
                  sm="6"
                  md="4"
                  class="mt-n8"
                >
                  <v-select
                    v-model="form.user_type_id"
                    :items="user_types"
                    item-text="name"
                    item-value="id"
                    label="Tipo de usuario"
                    single-line
                  />
                </v-col>
                <v-col
                  v-if="action === 'create'"
                  cols="12"
                  sm="6"
                  md="4"
                  class="mt-n8"
                >
                  <v-text-field
                    v-model="form.password"
                    label="Contraseña"
                    type="password"
                    :rules="passwordRules"
                  />
                </v-col>
                <v-col
                  v-if="action === 'create'"
                  cols="12"
                  sm="6"
                  md="4"
                  class="mt-n8"
                >
                  <v-text-field
                    v-model="form.c_password"
                    label="Contraseña"
                    type="password"
                    :rules="cpasswordRules"
                  />
                </v-col>
              </v-row>
              <v-row>
                <v-col
                  cols="12"
                  class="mt-n8 text-right"
                >
                  <v-btn
                    color="danger"
                    @click="close"
                  >
                    Cerrar
                  </v-btn>
                  <v-btn
                    color="warning"
                    class="ml-2"
                    @click="reset"
                  >
                    Limpiar
                  </v-btn>
                  <v-btn
                    color="primary"
                    :disabled="!valid"
                    :loading="loading"
                    type="submit"
                  >
                    {{ action === 'create' ? 'Registrar' : 'Editar' }}
                  </v-btn>
                </v-col>
              </v-row>
            </v-form>
          </v-container>
        </v-card-text>
      </v-card>
    </v-dialog>
  </v-row>
</template>
<script>
  export default {
    name: 'FormUser',
    props: {
      dialog: {
        type: Boolean,
        default: false,
      },
      action: {
        type: String,
        default: '',
      },
      item: {
        type: Object,
        default: Object,
      },
    },
    data: () => ({
      title: '',
      valid: false,
      loading: false,
      user_types: [],
      form: {
        id: '',
        document: '',
        name: '',
        email: '',
        phone: '',
        user_type_id: '',
        password: '',
        c_password: '',
      },
      nameRules: [
        v => !!v || 'Ingrese nombre y apellido',
      ],
    }),
    mounted () {
      this.getReferences()
    },
    created () {
      if (this.action === 'create') {
        this.initForm()
      }
    },
    methods: {
      assignTitle () {
        this.title = this.action === 'edit' ? 'Editar usuario' : 'Registrar usuario'
      },
      close () {
        this.$emit('close')
      },
      initForm () {
        this.form = {
          document: '',
          name: '',
          email: '',
          phone: '',
        }
      },
      reset () {
        this.initForm()
        if (this.$refs.form) {
          this.$refs.form.resetValidation()
        }
      },
      submit () {
        if (this.action === 'create') {
          this.create()
        } else {
          this.update()
        }
      },
      create () {
        if (this.form.password !== this.form.c_password) {
          this.$toast.error('La contraseña y su confirmación deben coincidir')
          return false
        }
        this.loading = true
        this.$axios.post('user/', this.form).then(response => {
          this.$toast.success('Usuario registrado exitosamente')
          this.$emit('reload')
          this.close()
        }).catch(() => {
          this.$toast.error('Error registrando usuario')
        }).finally(response => {
          this.loading = false
        })
      },
      update () {
        this.loading = true
        this.$axios.put(`user/${this.item.id}`, this.form).then(response => {
          this.$toast.success('Usuario editado exitosamente')
          this.$emit('reload')
          this.close()
        }).catch(() => {
          this.$toast.error('Error editando usuario')
        }).finally(response => {
          this.loading = false
        })
      },
      getReferences () {
        this.$axios.post('user/get-references').then(response => {
          this.user_types = response.data.data.user_types
        }).catch(() => {
          this.$toast.error('Error consultando referencias')
        }).finally(response => {
        })
      },
      assignItem () {
        this.form = JSON.parse(JSON.stringify(this.item))
      },
    },
    watch: {
      dialog: {
        handler (newVal, oldVal) {
          this.assignTitle()
          this.assignItem()
          if (newVal === true && oldVal === false && this.action === 'create') {
            this.initForm()
            this.reset()
          }
        },
      },
    },
  }
</script>
