<template>
  <v-container
    id="alerts"
    fluid
    tag="section"
  >
    <base-material-card
      icon="mdi-account-multiple"
      title="Listado de usuarios"
      class="px-5 py-3"
    >
      <v-row>
        <v-col cols="10">
          <v-text-field
            v-model="search"
            append-icon="mdi-magnify"
            label="Buscar..."
            v-debounce="getRecords"
            debounce-events="input"
          />
        </v-col>
        <v-col cols="2">
          <v-btn
            block
            color="primary"
            @click="openCreate"
          >
            Registrar
          </v-btn>
        </v-col>
      </v-row>
      <v-data-table
        :headers="headers"
        :items="records"
        :options.sync="options"
        :server-items-length="totalRecords"
        class="elevation-0"
      >
        <template
          v-slot:item.user_type="{ item }"
        >
          {{ item.user_type.name }}
        </template>

        <template
          v-slot:item.status_text="{ item }"
        >
          <v-chip
            :color="item.status == 1 ? 'success' : 'red'"
            text-color="white"
            @click:close="chip2 = false"
          >
            {{ item.status_text }}
          </v-chip>
        </template>

        <template
          v-slot:item.actions="{ item }"
        >
          <v-tooltip top>
            <template v-slot:activator="{ on, attrs }">
              <v-btn
                color="blue darken-2"
                fab
                x-small
                dark
                v-bind="attrs"
                v-on="on"
                @click="openEdit(item)"
              >
                <v-icon>mdi-pencil</v-icon>
              </v-btn>
            </template>
            <span>Editar</span>
          </v-tooltip>
          <v-tooltip top>
            <template v-slot:activator="{ on, attrs }">
              <v-btn
                :color="item.status == 1 ? 'success' : 'danger'"
                fab
                x-small
                dark
                v-bind="attrs"
                v-on="on"
                @click="activateDeactivate(item)"
                class="ml-1"
              >
                <v-icon>{{ item.status == 1 ? 'mdi-power' : 'mdi-power-off' }}</v-icon>
              </v-btn>
            </template>
            <span>{{ item.status == 1 ? 'Desactivar' : 'Activar' }}</span>
          </v-tooltip>
          <v-tooltip top>
            <template v-slot:activator="{ on, attrs }">
              <v-btn
                color="red darken-2"
                fab
                x-small
                dark
                v-bind="attrs"
                v-on="on"
                @click="remove(item)"
                class="ml-1"
              >
                <v-icon>mdi-delete</v-icon>
              </v-btn>
            </template>
            <span>Eliminar</span>
          </v-tooltip>
        </template>
      </v-data-table>
    </base-material-card>
    <form-user
      :dialog="dialog"
      :action="action"
      :item="item"
      @close="closeForm"
      @reload="getRecords"
    />
  </v-container>
</template>
<script>
  export default {
    name: 'Users',
    components: {
      FormUser: () => import('./Form'),
    },
    data: () => ({
      headers: [
        { text: 'Nombre', align: 'start', value: 'name' },
        { text: 'Correo electrónico', value: 'email' },
        { text: 'Tipo de usuario', value: 'user_type', sortable: false },
        { text: 'Teléfono', value: 'phone' },
        { text: 'Estatus', value: 'status_text', sortable: false },
        { text: 'Acciones', value: 'actions', sortable: false },
      ],
      search: '',
      records: [],
      options: null,
      totalRecords: null,
      dialog: false,
      action: null,
      item: {},
    }),
    mounted () {
      this.getRecords()
    },
    methods: {
      getRecords () {
        const params = {
          params: {
            ...this.options,
            search: this.search,
          },
        }
        this.$axios.get('user', params).then(response => {
          this.records = response.data.data.data
          this.totalRecords = response.data.data.total
        })
      },
      openCreate () {
        this.item = {}
        this.action = 'create'
        this.dialog = true
      },
      openEdit (item) {
        this.item = item
        this.action = 'edit'
        this.dialog = true
      },
      closeForm () {
        this.dialog = false
      },
      activateDeactivate (item) {
        const route = item.status === 1 ? 'user/deactivate' : 'user/activate'
        this.$axios.post(`${route}/${item.id}`).then(response => {
          const message = response.data.message || 'Éxito'
          this.$toast.success(message)
          this.getRecords()
        }).catch(error => {
          const message = error.response.data.message || 'Error activando o desactivando usuario'
          this.$toast.error(message)
        }).finally(response => {
        })
      },
      remove (item) {
        this.$confirm('¿Desea eliminar este usuario?').then(res => {
          if (res) {
            this.$axios.delete(`user/${item.id}`).then(response => {
              const message = response.data.message || 'Éxito'
              this.$toast.success(message)
              this.getRecords()
            }).catch(error => {
              const message = error.response.data.message || 'Error eliminando usuario'
              this.$toast.error(message)
            }).finally(response => {
            })
          }
        })
      },
    },
    watch: {
      options: {
        handler (newVal, oldVal) {
          if (oldVal !== null) {
            this.getRecords()
          }
        },
        deep: true,
      },
    },
  }
</script>
