<template>
  <v-app>
    <v-card
      :loading="loading"
      class="mx-auto"
      max-width="374"
    >
      <template slot="progress">
        <v-progress-linear
          color="deep-purple"
          height="10"
          indeterminat
        />
      </template>

      <v-img
        height="250"
        src="https://www.medinaylinarescontadores.com/noticias/wp-content/uploads/2019/09/Factura-Electronica-Regimen-Simple.jpg"
      />

      <v-tabs
        v-model="tab"
      >
        <v-tab>Inicio de Sesión</v-tab>
        <v-tab>Registro</v-tab>
      </v-tabs>

      <v-tabs-items v-model="tab">
        <v-tab-item>
          <login />
        </v-tab-item>
        <v-tab-item>
          <register />
        </v-tab-item>
      </v-tabs-items>
    </v-card>
  </v-app>
</template>
<script>
  export default {
    name: 'DashboardIndex2',
    components: {
      login: () => import('./Login'),
      register: () => import('./Register'),
    },
    data: () => ({
      loading: false,
      tab: null,
    }),
  }
</script>
