<template>
  <v-card
    flat
    class="px-4"
  >
    <v-form
      v-model="valid"
      @submit.prevent="login"
    >
      <v-row>
        <v-col cols="12">
          <v-text-field
            v-model="form.email"
            label="Correo Electrónico"
            :rules="emailRules"
          />
        </v-col>
      </v-row>
      <v-row class="mt-n4">
        <v-col cols="12">
          <v-text-field
            v-model="form.password"
            label="Contraseña"
            type="password"
            :rules="passwordRules"
          />
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="6">
          <v-btn
            block
            color="success"
            :disabled="!valid"
            type="submit"
            :loading="loading"
          >
            Ingresar
          </v-btn>
        </v-col>
        <v-col cols="6">
          <v-btn
            block
            color="warning"
            class="ml-2"
            @click="reset"
          >
            Limpiar
          </v-btn>
        </v-col>
      </v-row>
    </v-form>
  </v-card>
</template>
<script>
  export default {
    name: 'Login',
    data: () => ({
      form: {
        email: '',
        password: '',
      },
      valid: false,
      loading: false,
      emailRules: [
        v => !!v || 'Ingrese correo electrónico',
        v => /.+@.+/.test(v) || 'Formato inválido verifique',
      ],
      passwordRules: [
        v => !!v || 'Ingrese contraseña',
      ],
    }),
    mounted () {
      this.initForm()
    },
    methods: {
      login () {
        this.loading = true
        this.$axios.post('login', this.form).then(response => {
          localStorage.setItem('token', 'Bearer ' + response.data.data.token)
          const AUTHORIZATION = 'Authorization'
          this.$axios.defaults.headers.common[AUTHORIZATION] = 'Bearer ' + response.data.data.token
          localStorage.setItem('user', JSON.stringify(response.data.data.user))
          this.$router.push({ name: 'Dashboard' })
        }).catch((error) => {
          this.$toast.error(error.response.data.message || 'Error autenticando')
        }).finally(response => {
          this.loading = false
        })
      },
      initForm () {
        this.form = {
          email: '',
          password: '',
        }
      },
      reset () {
        this.initForm()
      },
    },
  }
</script>
