<template>
  <v-card
    flat
    class="px-4"
  >
    <v-form
      v-model="valid"
      @submit.prevent="register"
    >
      <v-row>
        <v-col cols="12">
          <v-text-field
            v-model="form.document"
            label="Documento"
            :rules="documentRules"
          />
        </v-col>
      </v-row>
      <v-row class="mt-n10">
        <v-col cols="12">
          <v-text-field
            v-model="form.name"
            label="Nombre y Apellido"
            :rules="nameRules"
          />
        </v-col>
      </v-row>
      <v-row class="mt-n10">
        <v-col cols="12">
          <v-text-field
            v-model="form.email"
            label="Correo Electrónico"
            :rules="emailRules"
          />
        </v-col>
      </v-row>
      <v-row class="mt-n10">
        <v-col cols="12">
          <v-text-field
            v-model="form.phone"
            label="Número Telefónico"
            :rules="phoneRules"
          />
        </v-col>
      </v-row>
      <v-row class="mt-n10">
        <v-col cols="12">
          <v-text-field
            v-model="form.password"
            label="Contraseña"
            type="password"
            :rules="passwordRules"
          />
        </v-col>
      </v-row>
      <v-row class="mt-n10">
        <v-col cols="12">
          <v-text-field
            v-model="form.c_password"
            label="Contraseña"
            type="password"
            :rules="cpasswordRules"
          />
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="6">
          <v-btn
            block
            type="submit"
            color="info"
            :loading="loading"
            :disabled="!valid"
          >
            Registrar
          </v-btn>
        </v-col>
        <v-col cols="6">
          <v-btn
            block
            color="warning"
            class="ml-2"
            @click="reset"
          >
            Limpiar
          </v-btn>
        </v-col>
      </v-row>
    </v-form>
  </v-card>
</template>
<script>
  export default {
    name: 'Register',
    data: () => ({
      valid: false,
      loading: false,
      form: {
        document: '',
        name: '',
        email: '',
        phone: '',
        password: '',
        c_password: '',
      },
      documentRules: [
        v => !!v || 'Ingrese documento',
      ],
      nameRules: [
        v => !!v || 'Ingrese nombre y apellido',
      ],
      phoneRules: [
        v => !!v || 'Ingrese número telefónico',
      ],
      emailRules: [
        v => !!v || 'Ingrese correo electrónico',
        v => /.+@.+/.test(v) || 'Formato inválido verifique',
      ],
      passwordRules: [
        v => !!v || 'Ingrese contraseña',
      ],
      cpasswordRules: [
        v => !!v || 'Ingrese contraseña',
      ],
    }),
    methods: {
      register () {
        if (this.form.password !== this.form.c_password) {
          this.$toast.error('La contraseña y su confirmación deben coincidir')
          return false
        }
        this.loading = true
        this.$axios.post('register', this.form).then(response => {
          this.$toast.success('Usuario registrado exitosamente')
          const AUTHORIZATION = 'Authorization'
          localStorage.setItem('token', 'Bearer ' + response.data.data.token)
          this.$axios.defaults.headers.common[AUTHORIZATION] = 'Bearer ' + response.data.data.token
          localStorage.setItem('user', JSON.stringify(response.data.data.user))
          this.$router.push({ name: 'Dashboard' })
        }).catch(() => {
          this.$toast.error('Error registrando usuario')
        }).finally(response => {
          this.loading = false
        })
      },
      initForm () {
        this.form = {
          document: '',
          name: '',
          email: '',
          phone: '',
        }
      },
      reset () {
        this.initForm()
      },
    },
  }
</script>
